.hero {
	padding: 0 0 rem(32);
	overflow: visible;
	background: radial-gradient(47.09% 57.14% at 43.08% 38.01%, #E42329 0%, #761A1B 100%);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: url("@img/hero-heels-mask.svg") center bottom / 100% auto no-repeat;
		pointer-events: none;
		bottom: -1px;

		@media (min-width:$md5) {
			bottom: -2px;

		}
	}

	@media (min-width: $md5) {
		padding: 0 0 rem(48);
	}

	@media (min-width: $md3) {
		padding: rem(10) 0 rem(40);
	}

	// .hero__body
	&__body {
		padding-top: 2.5rem;

		@media (min-width: $md3) {
			padding-top: 0;
		}
	}

	// .hero__name
	&__name {
		top: 0;
		left: 0;
		z-index: 0;
		opacity: 0.3;
		mix-blend-mode: overlay;
		font-weight: 700;
		font-size: rem(45);
		line-height: 1.35;
		font-family: $font-unbounded;

		@media (min-width: $md5) {
			top: rem(-4);
			font-size: rem(64);
		}

		@media (min-width: $md3) {
			font-family: $fontfamily;
			top: rem(-50);
			left: auto;
			right: rem(-20);
			font-weight: 900;
			font-size: rem(120);
			line-height: 1.35;
		}

		@media (min-width: $md2) {
			font-size: rem(140);
		}

		@media (min-width: $md1) {
			font-size: rem(157);
		}
	}

	// .hero__title
	&__title {
		max-width: rem(600);
		font-size: rem(24);
		letter-spacing: 0;
		line-height: 1.3;

		@media (min-width: $md5) {
			margin-top: rem(12);
			font-size: rem(36);
		}

		@media (min-width: $md3) {
			margin-top: rem(20);
			font-size: rem(52);
			line-height: 1.1;
			text-shadow: 0 0 rem(10) #e42329;
		}

		@media (min-width: $md2) {
			font-size: rem(60);
		}
	}

	// .hero__lead
	&__lead {
		gap: rem(10);
		max-width: rem(540);
		margin-top: rem(15);
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 1.35;

		@media (min-width: $md5) {
			margin-top: rem(20);
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			margin-top: rem(34);
			font-size: 1.3125rem;
			font-weight: 400;
		}

		&::before {
			content: "";
			flex-shrink: 0;
			width: rem(3);
			align-self: stretch;
			background: #e42329;
			box-shadow: 0 0 rem(10) 0 rgba(243, 57, 63, 0.7);
		}
	}

	// .hero__image
	&__image {
		z-index: 1;
		width: calc(100% + #{rem(32)});
		max-width: none;
		margin: rem(-8) rem(-16) 0;

		@media (min-width: $md5) {
			width: 100%;
			max-width: rem(640);
			margin: rem(12) auto 0;
		}

		@media (min-width: $md3) {
			position: absolute;
			top: rem(10);
			right: -2rem;
			width: rem(640);
			max-width: none;
			margin: 0;
			pointer-events: none;
		}

		@media (min-width: $md2) {
			right: rem(-80);
			width: rem(760);
		}

		@media (min-width: $md1) {
			right: rem(-100);
			width: rem(900);
		}

		@media (min-width: $md0) {
			width: rem(1170);
		}
	}

	// .hero__card
	&__card {
		margin-top: rem(40);
		padding: rem(20) rem(25);
		border-radius: 0.9375rem;
		background: rgba(228, 35, 41, 0.3);
		box-shadow: 0 0 rem(10) 0 rgba(243, 57, 63, 0.7);
		backdrop-filter: blur(5px);
		max-width: rem(653);
	}

	// .hero__card-icon
	&__card-icon {
		width: rem(102);
		height: rem(102);

		img {
			object-fit: contain;
		}
	}

	// .hero__card-text
	&__card-text {
		min-width: 0;
	}

	// .hero__card-title
	&__card-title {
		font-size: 1.0625rem;
		line-height: 1.35;
	}

	// .hero__card-desc
	&__card-desc {
		font-size: 1.0625rem;
		line-height: 1.35;
	}

	// .hero__cta
	&__cta {
		max-width: rem(541);
		margin-top: rem(-24);
		margin-left: auto;
		margin-right: auto;

		@media (min-width: $md5) {
			margin-top: rem(20);
		}

		@media (min-width: $md3) {
			margin-top: rem(32);
			margin-left: 0;
			margin-right: 0;
		}
	}

	// .hero__cta-text
	&__cta-text {
		font-size: 0.875rem;
		line-height: 1.35;

		@media (min-width: $md5) {
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			font-size: 1.3125rem;
			line-height: 1.4;
		}
	}

	// .hero__btn
	&__btn {
		--bs-btn-padding-x: #{rem(25)};
		--bs-btn-padding-y: #{rem(20)};
		--bs-btn-font-size: 1.125rem;
	}

	// .hero__stories
	&__stories {
		gap: rem(18);
		margin-top: rem(20);
		padding: 0 rem(10);

		@media (min-width: $md5) {
			gap: rem(10);
			margin-top: rem(36);
			padding: 0;
		}

		@media (min-width: $md3) {
			margin-top: rem(40);
		}
	}

	// .hero__story
	&__story {
		width: rem(60);

		gap: rem(10);

		@media (min-width: $md5) {
			gap: rem(6);
			width: rem(90);
		}

		@media (min-width: $md3) {
			width: rem(110);
		}
	}

	// .hero__story-thumb
	&__story-thumb {
		width: rem(60);
		height: rem(60);
		border: rem(2) solid #fff;

		@media (min-width: $md5) {
			width: rem(76);
			height: rem(76);
			border-width: rem(2.5);
		}

		@media (min-width: $md3) {
			width: rem(90);
			height: rem(90);
		}
	}

	// .hero__story-label
	&__story-label {
		font-size: 0.75rem;
		line-height: 1.2;
		letter-spacing: -0.03em;

		@media (min-width: $md5) {
			font-size: 0.8125rem;
			letter-spacing: 0;
		}

		@media (min-width: $md3) {
			font-size: 0.9375rem;
		}
	}
}

.outfit {
	position: relative;
	z-index: 2;
	margin: 0 auto;

	background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;

		background: url("@img/start-mask.svg") center / auto 100% no-repeat;
		pointer-events: none;
	}

	@media (min-width: $md4 ) {
		overflow: hidden;
		min-height: rem(920);
	}

	@media (min-width: 1920px) {
		max-width: rem(2400);
		min-height: calc(min(100vw, #{rem(2400)}) * 764 / 2400);
	}

	// .outfit__wrapper
	&__wrapper {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			background: url("@img/school-mask-bottom.svg") center / auto 100% no-repeat;
			pointer-events: none;
		}
	}

	// .outfit__container
	&__container {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/halls/02.jpg") center / cover no-repeat;
			opacity: 0.2;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: -1;
		}
	}

	// .outfit__content
	&__content {
		position: relative;
		z-index: 3;
		padding: rem(54) 0 rem(80);

		@media (min-width: $md4) {
			padding: rem(64) 0 rem(80);
		}

		@media (min-width: $md0) {
			padding: rem(70) 0 rem(100);
		}
	}

	// .outfit__header
	&__header {
		position: relative;
		z-index: 2;


		&.row {
			--bs-gutter-x: 2.5rem;
		}
	}

	// .outfit__badge
	&__badge {
		width: fit-content;
		font-size: 0.875rem;
		line-height: 140%;
		transform: rotate(-4.995deg);
		box-shadow: 0 0 rem(3.5) rgba(96, 0, 0, 0.2);

		@media (min-width: $md4) {
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}

	// .outfit__title
	&__title {
		margin-top: rem(28);
		letter-spacing: normal;

		@media (max-width: $md4) {
			font-size: rem(20);
		}

		@media (min-width: $md4) {
			margin-top: rem(44);
		}
	}

	// .outfit__subtitle
	&__subtitle {
		max-width: rem(748);
		margin-top: rem(10);
		margin-bottom: 0;
		font-size: 0.875rem;
		line-height: 140%;

		@media (min-width: $md4) {
			margin-top: rem(30);
			font-size: 1.25rem;
		}

		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}

	// .outfit__image
	&__image {
		position: absolute;
		z-index: 1;
		top: rem(0);
		right: rem(-166);
		bottom: auto;
		left: auto;
		width: rem(300);
		transform: rotate(11deg);
		pointer-events: none;

		@media (min-width:$md5) {
			right: rem(-220);
		}

		@media (min-width: $md4) {
			top: auto;
			right: -8rem;
			width: rem(600);
			bottom: -12.5rem;
			transform: rotate(11deg);
		}

		@media (min-width: $md2) {
			right: -3rem;
			width: rem(700);
			bottom: -16.5rem;
		}

		@media (min-width: $md0) {
			width: rem(800);
			right: -10rem;
			bottom: -26.5rem;
		}

		picture,
		img,
		source {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	// .outfit__cards
	&__cards {
		position: relative;
		z-index: 3;
		width: 100%;
		margin-top: rem(20);
		gap: rem(6);

		@media (min-width: $md4) {
			margin-top: rem(40);
			gap: rem(16);
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md3) {
			margin-top: rem(60);
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.location {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding: rem(60) 0 rem(80);
	overflow: hidden;
	background:
		radial-gradient(ellipse 90% 72% at 49.37% 43.69%, transparent 42%, rgba(118, 26, 27, 0.55) 100%),
		radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: url("@img/halls-mask.svg") center / auto 100% no-repeat;
		pointer-events: none;
	}

	@media (min-width: $md5) {
		min-height: rem(720);
		padding: rem(100) 0 rem(110);
	}

	@media (min-width: $md3) {
		padding: rem(130) 0;
	}

	@media (min-width: 1920px) {
		max-width: rem(3154);

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background:
				linear-gradient(90deg, #edecec 0%, #edecec calc((100% - 2900px) / 2), transparent calc((100% - 2900px) / 2)),
				linear-gradient(270deg, #edecec 0%, #edecec calc((100% - 2900px) / 2), transparent calc((100% - 2900px) / 2));
			pointer-events: none;
		}
	}

	// .location__container
	&__container {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: url("@img/halls/05.jpg") center / cover no-repeat;
			opacity: 0.05;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: radial-gradient(ellipse 58% 55% at 49.37% 43.69%, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.42) 100%);
		}
	}

	// .location__content
	&__content {
		position: relative;
		z-index: 3;
	}

	// .location__body
	&__body {
		&.row {
			--bs-gutter-x: 1.25rem;
			--bs-gutter-y: 1.5rem;
		}
	}

	// .location__map
	&__map {
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);

		@media (min-width: $md3) {
			min-height: 100%;
		}

		picture,
		img,
		source {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		@media (min-width: $md3) {

			picture,
			img,
			source {
				height: 100%;
				min-height: 100%;
			}
		}
	}

	// .location__title
	&__title {
		margin-bottom: rem(16);

		@media (min-width: $md3) {
			margin-bottom: rem(25);
		}
	}

	// .location__text
	&__text {
		font-size: 0.875rem;
		line-height: 140%;

		@media (min-width: $md5) {
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}

		p {
			margin-bottom: rem(16);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .location__list
	&__list {
		margin: rem(8) 0 rem(20);
		padding-left: 0;
		list-style: none;
		font-size: 0.875rem;
		line-height: 140%;

		@media (min-width: $md5) {
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			margin-bottom: rem(25);
			font-size: 1.5625rem;
		}

		li {
			position: relative;
			padding-left: 1.5em;

			&::before {
				content: "";
				position: absolute;
				top: 0.55em;
				left: 0.35em;
				width: 0.25em;
				height: 0.25em;
				border-radius: 50%;
				background: currentColor;
			}
		}
	}

	// .location__parking
	&__parking {
		gap: rem(12);
		max-width: rem(520);
		padding: rem(12) rem(16);
		border-radius: 0.9375rem;
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);

		@media (min-width: $md5) {
			gap: rem(20);
			padding: rem(15) rem(20);
		}
	}

	// .location__parking-icon
	&__parking-icon {
		width: rem(32);
		height: rem(32);

		@media (min-width: $md5) {
			width: rem(42);
			height: rem(42);
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	// .location__parking-text
	&__parking-text {
		color: #222;
		font-size: 0.875rem;
		line-height: 140%;

		@media (min-width: $md5) {
			font-size: 1.125rem;
		}

		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
	}
}

.outcomes {
	padding: rem(20) 0 rem(40);

	@media (min-width: $md3) {
		padding: rem(20) 0 rem(50);
	}

	// .outcomes__header
	&__header {
		padding: 1.25rem 0;
		gap: rem(10);
	}

	// .outcomes__title
	&__title {
		font-size: 0.9375rem;

		@media (min-width: $md5) {
			font-size: 1.25rem;
		}

		@media (min-width: $md3) {
			font-size: 1.875rem;
		}

		@media (min-width: $md1) {
			font-size: rem(40);
		}

		@media (min-width: $md0) {
			font-size: rem(50);
		}
	}

	// .outcomes__label
	&__label {
		border-radius: 3.125rem;
		padding: 0.43669rem 0.87331rem;
		box-shadow: 0 0 rem(7) 0 rgba(96, 0, 0, 0.2);
		font-size: 0.875rem;

		@media (min-width: $md5) {
			font-size: 1.25rem;
		}

		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}

	// .outcomes__list
	&__list {
		display: flex;
		flex-direction: column;

		@media (max-width: $md3) {
			max-width: rem(560);
			margin: 2rem auto 0;
		}

		@media (min-width: $md3) {
			flex-direction: row;
			margin-inline: -1rem;
			position: relative;
			align-items: center;
			justify-content: space-between;
			height: rem(400);
			margin-top: 2rem;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: rem(5);
				background: #761a1b;
			}
		}

		@media (min-width: $md2) {
			height: rem(420);
			margin-top: rem(40);
		}

		@media (min-width: $md1) {
			margin-top: rem(30);
			height: rem(520);
		}
	}

	// .outcomes__item
	&__item {
		display: flex;

		@media (max-width: $md3) {
			flex-direction: row;
			justify-content: space-between;
			gap: rem(15);

			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			&:not(:last-child) {
				margin-bottom: 2.52rem;
			}
		}

		@media (min-width: $md3) {
			flex-direction: column;
			position: relative;
			width: 2.0625rem;
			height: 2.0625rem;
			background: #edecec;
			border-radius: 50%;
			border: rem(5) solid #761a1b;

			&:nth-child(odd) {
				.outcomes__item-content {
					bottom: rem(15);
					left: 0;
					justify-content: flex-end;
					padding-bottom: rem(44);
				}

				.outcomes__item-image {
					top: rem(59);
				}
			}

			&:nth-child(even) {
				.outcomes__item-content {
					top: rem(15);
					left: 0;
					justify-content: flex-start;
					padding-top: rem(44);
				}

				.outcomes__item-image {
					bottom: 2.3875rem;
				}
			}

			&:last-child {
				.outcomes__item-content {
					left: auto;
					text-align: center;
					transform-origin: right center;
					right: rem(0);

					@media (min-width: $md2) {
						right: rem(-32);
					}
				}
			}
		}

		&:nth-child(1) {
			.outcomes__item-image {
				background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
				border-radius: 50%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				width: 8.125rem;
				height: 8.125rem;
				overflow: visible;

				img {
					width: 110%;
					max-width: none;
					height: auto;
					margin-bottom: rem(-10);
				}

				@media (min-width: $md3) {
					width: 10rem;
					height: 10rem;
				}

				@media (min-width: $md0) {
					width: 13.3125rem;
					height: 13.3125rem;
				}
			}

			.outcomes__item-content {
				@media (max-width: $md3) {
					padding-top: 4rem;
				}

				&::before {
					content: "";
					position: absolute;
					top: rem(-5);
					right: 4.4rem;
					width: rem(56);
					height: rem(56);
					background: url("@img/benefits/lip.svg") center / contain no-repeat;
					transform: rotate(-13deg);
				}
			}
		}

		&:nth-child(2) {
			.outcomes__item-image {
				border-radius: 50%;
				overflow: visible;

				&::before {
					content: "";
					position: absolute;
					top: rem(-10);
					right: rem(5);
					z-index: -1;
					background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
					width: 3.125rem;
					height: 3.125rem;
					border-radius: 50%;
				}

				width: 9.375rem;
				height: 9.375rem;

				img {
					width: 160%;
					max-width: none;
					height: auto;
					position: relative;
					left: -25%;
				}

				@media (min-width: $md3) {
					width: 10rem;
					height: 10rem;
				}

				@media (min-width: $md0) {
					left: -2.2rem;
					width: 13.3125rem;
					height: 13.3125rem;
				}
			}
		}

		&:nth-child(3) {
			.outcomes__item-image {
				&::before {
					content: "";
					position: absolute;
					bottom: rem(10);
					right: rem(-10);
					z-index: -1;
					background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
					width: rem(142);
					height: rem(142);
					border-radius: 50%;
				}

				@media (max-width: $md3) {
					width: 9.58213rem;
					height: 14.37881rem;
				}

				@media (min-width: $md3) {
					top: 1.4rem;
					width: 9.7rem;
				}

				@media (min-width: $md2) {
					left: 2.9rem;
				}
			}

		}

		&:nth-child(4) {
			.outcomes__item-image {
				@media (max-width: $md3) {
					width: 12rem;
				}

				@media (min-width: $md3) {
					width: 14.2rem;
					margin-left: -1rem;
				}

				@media (min-width: $md0) {
					margin-left: -3rem;
					width: 17.2rem;
				}

				&::before {
					content: "";
					position: absolute;
					top: rem(-20);
					left: rem(-10);
					z-index: 2;
					width: rem(37);
					height: rem(37);
					background: url("@img/benefits/woman.svg") center / contain no-repeat;
					transform: rotate(22deg);
				}
			}
		}

		&:nth-child(5) {
			.outcomes__item-image {
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 6.58331rem;
					height: 6.58331rem;
					background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
					border-radius: 50%;
					z-index: -1;
				}

				width: 9.375rem;
				height: 9.375rem;

				@media (min-width: $md3) {
					top: 4rem;
					width: 10rem;
					height: 10rem;
				}

				@media (min-width: $md0) {
					width: 12.4375rem;
					height: 12.4375rem;
					left: 1rem;
				}
			}

			.outcomes__item-content {
				&::after {
					content: "";
					position: absolute;
					bottom: rem(-120);
					right: rem(-70);
					z-index: -1;
					width: rem(51);
					height: rem(145);
					background: url("@img/benefits/silhouette.svg") center / contain no-repeat;
					opacity: 0.35;
					pointer-events: none;

					@media (max-width: $md3) {
						display: none;
					}
				}
			}
		}
	}

	// .outcomes__item-content
	&__item-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: $md3) {
			position: relative;
		}

		@media (min-width: $md3) {
			width: 13.4375rem;
			position: absolute;
			transform-origin: left center;
			transform: scale(0.75);
			height: rem(180);
		}

		@media (min-width: $md1) {
			height: rem(243);
			transform: none;
		}
	}

	// .outcomes__item-name
	&__item-name {
		line-height: 140%;
		font-size: 1.0625rem;

		@media (min-width: $md5) {
			font-size: 1.25rem;
		}

		&:not(:last-child) {
			padding-bottom: 0.44rem;
			border-bottom: rem(1) solid rgba(34, 34, 34, 0.1);
		}
	}

	// .outcomes__item-desc
	&__item-desc {
		margin-top: 0.44rem;
		color: rgba(34, 34, 34, 0.8);
		line-height: 140%;
		font-size: 0.875rem;

		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}

	// .outcomes__item-image
	&__item-image {
		flex-shrink: 0;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			z-index: 1;
		}

		@media (min-width: $md3) {
			width: 10rem;
			position: absolute;
			transform-origin: left center;
			transform: scale(0.75);
		}

		@media (min-width: $md1) {
			transform: none;
		}
	}

	// .outcomes__cta
	&__cta {
		gap: rem(20);
		margin-top: rem(30);

		@media (min-width: $md3) {
			gap: rem(70);
			margin-top: rem(40);
		}
	}

	// .outcomes__cta-text
	&__cta-text {
		font-size: 1.125rem;
		line-height: 150%;

		@media (min-width: $md5) {
			font-size: 1.5rem;
		}

		@media (min-width: $md3) {
			font-size: 1.875rem;
		}
	}
}