.promo {
	background: radial-gradient(40.13% 43.69% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
	@media (min-width: $md4) {
		background: radial-gradient(51.63% 71.82% at 49.37% 43.69%, #e42329 0%, #761a1b 100%), #761a1b;
	}
	// .promo__body
	&__body {
		max-width: rem(880);
		@media (min-width: $md5) {
			margin-top: 0.6rem;
		}
	}
	// .promo__title
	&__title {
		line-height: 120%;
		font-size: rem(60);
		@media (min-width: $md5) {
			font-size: 5rem;
		}
		@media (min-width: $md3) {
			font-size: 6.75rem;
		}
		@media (min-width: $md2) {
			font-size: 7.5rem;
		}
		@media (min-width: $md1) {
			font-size: 8.4375rem;
		}
	}
	// .promo__image
	&__image {
	}
	// .promo__name
	&__name {
		margin-top: 0.75rem;
		opacity: 0.62;
		mix-blend-mode: overlay;
		font-size: 6rem;
		@media (min-width: $md3) {
			font-size: 7rem;
		}
		@media (min-width: $md2) {
			font-size: 8rem;
		}
		@media (min-width: $md1) {
			font-size: 9.375rem;
		}
	}
	// .promo__columns
	&__columns {
		line-height: 140%;
		font-size: 0.6875rem;
		@media (max-width: $md5) {
			--bs-gutter-x: 0.5rem;
		}
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .promo__column
	&__column {
		&:not(:last-child) {
			border-right: rem(2) solid;
		}
	}
	// .promo__column-text
	&__column-text {
		@media (min-width: $md1) {
			margin-top: -0.3rem;
		}
	}
	// .promo__label
	&__label {
		line-height: 130%;
		transform: translateX(-50%) rotate(-13.267deg);

		background: #d62d32;
		left: 50%;
		font-size: rem(11);
		border-radius: rem(13);
		padding: rem(7) rem(13);
		max-width: rem(90);
		bottom: 3.6rem;
		@media (min-width: $md5) {
			bottom: 5.6rem;
			max-width: em(11.625, 1.5625);
			padding: em(0.75, 1.5625) em(1.75, 1.5625);
			border-radius: em(1.875, 1.5625);
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .promo__image
	&__image {
		pointer-events: none;
		margin-bottom: -3rem;
		@media (max-width: $md5) {
			margin-bottom: -2.25rem;
			margin-inline: -1.5rem;
			& img,
			& source {
				min-height: rem(300);
			}
		}
	}
}

.rent-banner {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0.62;
		mix-blend-mode: overlay;
		z-index: 1;
	}

	.container {
		z-index: 2;
		position: relative;
	}
	// .rent-banner__title
	&__title {
		font-size: rem(15);
		@media (min-width: $md5) {
			font-size: 1.75rem;
		}
		@media (min-width: $md3) {
			font-size: 2.1875rem;
		}
	}
	// .rent-banner__subtitle
	&__subtitle {
		font-size: rem(11);
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
}

.special-offer {
	@media (min-width: $md4) {
		padding-top: rem(60);
		padding-bottom: rem(40);
	}
	// .special-offer__body
	&__body {
	}
	// .special-offer__caption
	&__caption {
		padding: rem(30);
		font-size: 1.0625rem;
		line-height: 140%;
	}
	// .special-offer__column
	&__column {
		@media (min-width: $md3) {
			width: rem(505);
		}
		@media (min-width: $md1) {
			width: rem(705);
		}
	}
	// .special-offer__card
	&__card {
		--bs-border-width: #{rem(8)};
		--bs-border-color: #bc0482;
		gap: rem(20);
		padding: rem(24) rem(30) rem(30);
		@media (min-width: $md5) {
			padding: rem(34) rem(40) rem(40) rem(40);
		}
		@media (min-width: $md4) {
			gap: rem(40);
		}
		@media (min-width: $md1) {
			padding: rem(44) rem(50) rem(50) rem(50);
			gap: rem(50);
		}
	}
	// .special-offer__card-title
	&__card-title {
		font-size: 1.25rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
		@media (min-width: $md3) {
			font-size: 1.75rem;
		}
		@media (min-width: $md1) {
			font-size: 1.875rem;
		}
	}
	// .special-offer__card-separator
	&__card-separator {
		--bs-border-width: 0.1875rem;
		color: #bc0482;
		width: 3.125rem;
	}
	// .special-offer__card-desc
	&__card-desc {
		line-height: 140%;
		font-size: rem(14);
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .special-offer__card-tagline
	&__card-tagline {
		line-height: 140%;
		font-size: rem(14);
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .special-offer__card-btn
	&__card-btn {
	}
	// .special-offer__image
	&__image {
		margin-bottom: -8rem;
		margin-inline: -1rem;
		@media (min-width: $md3) {
			height: rem(588);
			margin-left: rem(-210);
			margin-bottom: 0;
			border-radius: rem(15);
		}
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .special-offer__badge
	&__badge {
		transform: rotate(-4.995deg) translateX(50%);
		right: 50%;
		font-size: rem(15);
		top: rem(30);
		min-height: rem(35);
		align-content: center;
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
		@media (min-width: $md5) {
			top: rem(40);
			font-size: 1.25rem;
			right: rem(42);
			transform: rotate(-4.995deg);
		}
	}
}

.directions {
	// .directions__header
	&__header {
		padding: rem(10) 0 rem(12.5);
		@media (min-width: $md5) {
			padding: rem(10) 0 rem(30);
		}
		.container {
			gap: rem(10);
			@media (min-width: $md5) {
				gap: rem(30);
			}
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			background: url("@img/directions-decor.svg") center calc(100% + 1px) / 100% auto no-repeat;
			@media (min-width: $md5) {
				bottom: -2px;
			}
		}
	}
	// .directions__arrow
	&__arrow {
		animation: arrow-bounce 2s infinite ease-in-out;
		font-size: rem(15);
		@media (min-width: $md5) {
			font-size: 2.6875rem;
		}
		@keyframes arrow-bounce {
			0%,
			100% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(15px);
			}
		}
	}
	// .directions__title
	&__title {
	}
	// .directions__subtitle
	&__subtitle {
		line-height: 140%;
		max-width: 58.625rem;
		font-size: rem(14);
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .directions__body
	&__body {
		padding: rem(16) 0 rem(30);
		@media (min-width: $md5) {
			padding: rem(50) 0 rem(80);
		}
		.row {
			--bs-gutter-x: #{rem(10)};
			--bs-gutter-y: #{rem(10)};
			@media (min-width: $md5) {
				--bs-gutter-x: #{rem(20)};
				--bs-gutter-y: #{rem(20)};
			}
		}
	}
	// .directions__bottom
	&__bottom {
		gap: rem(15);
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: rem(40);
		}
		@media (min-width: $md3) {
			gap: 2.5rem;
		}
	}
	// .directions__bottom-icon
	&__bottom-icon {
		line-height: 140%;
		width: 1.875rem;
		@media (min-width: $md5) {
			width: 2rem;
		}
		@media (min-width: $md3) {
			width: 3.75rem;
		}
	}
	// .directions__bottom-text
	&__bottom-text {
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.375rem;
		}
		@media (min-width: $md2) {
			font-size: 1.5625rem;
		}
	}
	// .directions__card
	&__card {
		box-shadow: 0 0 rem(25) 0 rgba(55, 9, 11, 0.6);
		border-radius: 0.45381rem;
		@media (min-width: $md5) {
			border-radius: 0.9375rem;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
				.directions__card-desc {
					margin-top: rem(12);
					opacity: 1;
					visibility: visible;
					& span {
						margin-bottom: 0;
					}
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 24.63%, rgba(118, 26, 27, 0.8) 53.51%, rgba(228, 35, 41, 0.8) 100%);
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.9375rem;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
			border: rem(2) solid #761a1b;
			@media (min-width: $md5) {
				border: rem(5) solid #761a1b;
			}
		}
	}
	// .directions__card-image
	&__card-image {
	}
	// .directions__card-content
	&__card-content {
		padding: 1.25rem 0;
		@media (min-width: $md5) {
			padding: rem(20);
		}
		@media (min-width: $md3) {
			padding: rem(30);
		}
	}
	// .directions__card-title
	&__card-title {
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .directions__card-desc
	&__card-desc {
		line-height: 140%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0;
		opacity: 0;
		visibility: hidden;
		transition: margin 0.15s cubic-bezier(0.39, 0.58, 0.57, 1);
		& span {
			margin-bottom: -100%;
			display: block;
		}
	}
}

.trial-lesson {
	padding: rem(40) 0 rem(20);
	@media (min-width: $md4) {
		padding: rem(40) 0 rem(60);
	}
	// .trial-lesson__title
	&__title {
	}
	// .trial-lesson__content
	&__content {
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 2.75rem;
		}
		.row {
			--bs-gutter-x: #{rem(40)};
			--bs-gutter-y: #{rem(20)};
		}
	}

	// .trial-lesson__banner
	&__banner {
		border-radius: 0.9375rem;
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .trial-lesson__banner-content
	&__banner-content {
		padding: 1.375rem 1rem;
		@media (min-width: $md4) {
			padding: 2.5rem 1.875rem;
		}
	}
	// .trial-lesson__banner-caption
	&__banner-caption {
		line-height: 160%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.3125rem;
		}
		& span {
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background: #e42329;
				z-index: -1;
			}
		}
	}
	// .trial-lesson__banner-desc
	&__banner-desc {
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .trial-lesson__caption
	&__caption {
		font-size: 1.25rem;
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
		@media (min-width: $md3) {
			font-size: 1.6875rem;
		}
	}
	// .trial-lesson__subtitle
	&__subtitle {
		line-height: 140%;
		font-size: 0.875rem;
		margin-top: rem(13);
		@media (min-width: $md5) {
			margin-top: rem(16);
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			margin-top: rem(25);
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .trial-lesson__form
	&__form {
		border-top: rem(8) solid #bc0482;
		margin-top: rem(8);
		padding: rem(40) rem(30) 3.12rem;
		@media (min-width: $md4) {
			padding: rem(25) rem(20) rem(30);
			margin-top: rem(25);
		}
		@media (min-width: $md2) {
			padding: rem(45) rem(30) rem(50);
		}
	}
	// .trial-lesson__form-caption
	&__form-caption {
		line-height: 140%;
		font-size: 1.5625rem;

		@media (min-width: $md3) {
			font-size: 1.875rem;
		}
	}
	// .trial-lesson__fields
	&__form-fields {
		margin-top: rem(20);
		@media (min-width: $md3) {
			margin-top: rem(30);
		}
		.row {
			--bs-gutter-x: 1.25rem;
			--bs-gutter-y: 1.25rem;
		}
		& .caption-text {
			font-size: 1.0625rem;
			line-height: 140%;
		}
	}
	// .trial-lesson__cards
	&__cards {
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
		.row {
			--bs-gutter-x: #{rem(6)};
			--bs-gutter-y: #{rem(6)};
			@media (min-width: $md4) {
				--bs-gutter-x: #{rem(10)};
				--bs-gutter-y: #{rem(10)};
			}
		}
	}
}

.school {
	position: relative;
	z-index: 1;

	background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
	overflow: hidden;

	min-height: rem(1040);
	margin: 0 auto;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/school-mask.svg") center / auto 100% no-repeat;
		pointer-events: none;
		z-index: 2;
	}
	padding: rem(40) 0 rem(100);
	@media (min-width: $md5) {
		padding: rem(80) 0;
	}
	@media (min-width: 1920px) {
		max-width: rem(3200);
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:
				linear-gradient(90deg, #edecec 0%, #edecec calc((100% - 3007px) / 2), transparent calc((100% - 3007px) / 2)),
				linear-gradient(270deg, #edecec 0%, #edecec calc((100% - 3007px) / 2), transparent calc((100% - 3007px) / 2));
			pointer-events: none;
			z-index: 1;
		}
	}
	// .school__container
	&__container {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/halls/02.jpg") center / cover no-repeat;
			opacity: 0.2;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: -1;
		}
	}
	// .school__content
	&__content {
		position: relative;
		z-index: 3;
	}
	// .school__header
	&__header {
		&.row {
			--bs-gutter-x: 2.5rem;
		}
	}
	// .school__badge
	&__badge {
		line-height: 140%;
		transform: rotate(-4.995deg);
		width: fit-content;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .school__title
	&__title {
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(40);
		}
	}
	// .school__subtitle
	&__subtitle {
		font-size: 0.875rem;
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: rem(30);
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .school__video
	&__video {
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #e42329;
			font-size: rem(40);
			@media (min-width: $md4) {
				font-size: rem(80);
			}
		}
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .school__body
	&__body {
		@media (max-width: $md5) {
			display: contents;
		}
		@media (min-width: $md4) {
			margin-top: rem(60);
		}
	}
	// .school__tagline
	&__tagline {
		margin-top: 1.375rem;
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			margin-top: 0;
			font-size: 1.5rem;
		}
		@media (min-width: $md3) {
			font-size: 1.875rem;
		}
	}
	// .school__btn
	&__btn {
	}
	// .school__cards
	&__cards {
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: rem(30);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			margin-top: rem(60);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}

.steps {
	padding: rem(20) 0;
	@media (min-width: $md5) {
		padding: rem(20) 0 rem(40);
	}
	// .steps__header
	&__header {
		padding: 1.25rem 0;
	}
	// .steps__title
	&__title {
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.875rem;
		}
	}
	// .steps__label
	&__label {
		border-radius: 3.125rem;
		padding: 0.43669rem 0.87331rem;
		background: #fff;
		box-shadow: 0 0 rem(7) 0 rgba(96, 0, 0, 0.2);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.25rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .steps__list
	&__list {
		display: flex;
		flex-direction: column;
		@media (max-width: $md3) {
			max-width: rem(560);
			margin: 2rem auto 0;
		}
		@media (min-width: $md3) {
			flex-direction: row;
			margin-inline: -1rem;
			position: relative;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: rem(400);
			margin-top: 2rem;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: rem(5);
				background: #761a1b;
			}
		}
		@media (min-width: $md2) {
			height: rem(420);
			margin-top: rem(40);
		}
		@media (min-width: $md1) {
			margin-top: rem(80);
			height: rem(500);
		}
	}
	// .steps__item
	&__item {
		display: flex;
		@media (max-width: $md3) {
			flex-direction: row;
			justify-content: space-between;
			gap: rem(15);
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
			&:not(:last-child) {
				margin-bottom: 2.52rem;
			}
			&:last-child {
				.steps__item-content {
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 100%;
				}
			}
		}
		@media (min-width: $md3) {
			flex-direction: column;
			position: relative;
			width: 2.0625rem;
			height: 2.0625rem;
			background: #edecec;
			border-radius: 50%;
			border: rem(5) solid #761a1b;
			&:nth-child(odd) {
				.steps__item-content {
					bottom: rem(15);
					left: 0;
					justify-content: flex-end;
					padding-bottom: rem(44);
				}
				.steps__item-image {
					top: rem(59);
				}
			}
			&:nth-child(even) {
				.steps__item-content {
					top: rem(15);
					left: 0;
					justify-content: flex-start;
					padding-top: rem(44);
				}
				.steps__item-image {
					bottom: 2.3875rem;
				}
			}

			&:last-child {
				.steps__item-content {
					left: auto;
					text-align: center;
					transform-origin: right center;
					right: rem(0);
					@media (min-width: $md2) {
						right: rem(-32);
					}
				}
			}
		}
		&:nth-child(1) {
			.steps__item-image {
				background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
				border-radius: 50%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 8.125rem;
				height: 8.125rem;
				@media (min-width: $md3) {
					width: 10rem;
					height: 10rem;
				}
				@media (min-width: $md0) {
					width: 13.3125rem;
					height: 13.3125rem;
				}
			}
			.steps__item-content {
				@media (max-width: $md3) {
					padding-top: 4rem;
				}
				&::before {
					content: "";
					position: absolute;
					top: rem(-5);
					right: 4.4rem;
					width: 3.5rem;
					height: 3.5rem;
					background: url("@img/steps/stars-decor.svg") center / contain no-repeat;
				}
			}
		}
		&:nth-child(2) {
			.steps__item-image {
				border-radius: 50%;

				&::before {
					content: "";
					position: absolute;
					top: rem(-10);
					right: rem(5);
					z-index: -1;
					background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
					width: 3.125rem;
					height: 3.125rem;
					border-radius: 50%;
				}
				width: 9.375rem;
				height: 9.375rem;
				@media (min-width: $md3) {
					width: 10rem;
					height: 10rem;
				}
				@media (min-width: $md0) {
					left: -2.2rem;
					width: 13.3125rem;
					height: 13.3125rem;
				}
			}
		}
		&:nth-child(3) {
			.steps__item-image {
				@media (max-width: $md3) {
					width: 9.58213rem;
					height: 14.37881rem;
				}
				@media (min-width: $md3) {
					top: 1.4rem;
					width: 9.7rem;
				}
				@media (min-width: $md2) {
					left: 2.9rem;
				}
			}
		}
		&:nth-child(4) {
			.steps__item-image {
				@media (max-width: $md3) {
					width: 12rem;
				}
				@media (min-width: $md3) {
					width: 14.2rem;
					margin-left: -1rem;
				}
				@media (min-width: $md0) {
					margin-left: -3rem;
					width: 17.2rem;
				}
			}
		}
		&:nth-child(5) {
			.steps__item-image {
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 6.58331rem;
					height: 6.58331rem;
					background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
					border-radius: 50%;
					z-index: -1;
				}
				width: 9.375rem;
				height: 9.375rem;
				@media (min-width: $md3) {
					top: 4rem;
					width: 10rem;
					height: 10rem;
				}
				@media (min-width: $md0) {
					width: 12.4375rem;
					height: 12.4375rem;
					left: 1rem;
				}
			}
			.steps__item-content {
				&::before {
					content: "";
					position: absolute;
					top: -0.725rem;
					right: -3.85rem;
					z-index: -1;
					width: rem(66);
					height: rem(61);
					background: url("@img/steps/phone-decor.svg") center / contain no-repeat;
				}
			}
		}
	}
	// .steps__item-content
	&__item-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $md3) {
			position: relative;
		}
		@media (min-width: $md3) {
			width: 13.4375rem;
			position: absolute;
			transform-origin: left center;
			transform: scale(0.75);
			height: rem(180);
		}
		@media (min-width: $md1) {
			height: rem(243);
			transform: none;
		}
	}
	// .steps__item-icon
	&__item-icon {
		max-width: rem(60);
		margin-bottom: rem(20);
		align-self: center;
	}
	// .steps__item-name
	&__item-name {
		line-height: 140%;
		font-size: 1.0625rem;
		@media (min-width: $md5) {
			font-size: 1.375rem;
		}
		&:not(:last-child) {
			padding-bottom: 0.44rem;
			border-bottom: rem(1) solid rgba(34, 34, 34, 0.1);
		}
	}
	// .steps__item-desc
	&__item-desc {
		margin-top: 0.44rem;
		color: rgba(34, 34, 34, 0.8);
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
	// .steps__item-image
	&__item-image {
		flex-shrink: 0;
		@media (max-width: $md3) {
			position: relative;
		}
		@media (min-width: $md3) {
			width: 10rem;
			position: absolute;
			transform-origin: left center;
			transform: scale(0.75);
		}
		@media (min-width: $md1) {
			transform: none;
		}
	}
}

.community {
	padding: rem(15) 0;
	@media (min-width: $md4) {
		padding: rem(30) 0;
	}
	// .community__content
	&__content {
		@media (min-width: $md2) {
			padding: 1.25rem 0;
		}
	}
	// .community__title
	&__title {
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
		@media (min-width: $md2) {
			font-size: 1.875rem;
		}
	}
}

.gallery {
	padding: rem(15) 0;
	@media (min-width: $md4) {
		padding: rem(30) 0;
	}
	// .gallery__content
	&__content {
	}
	// .gallery__slider
	&__slider {
		overflow: visible;
		.swiper-wrapper {
			--swiper-wrapper-transition-timing-function: linear;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .gallery__slide
	&__slide {
		display: block;
		overflow: hidden;
		border-radius: 0.9375rem;
		transition: transform 0.3s ease;
		width: 13.79313rem;
		height: 9.19538rem;
		@media (min-width: $md4) {
			width: 24rem;
			height: 16rem;
		}
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.015);
			}
		}
	}
}

.benefits {
	padding: rem(15) 0 rem(15);
	@media (min-width: $md4) {
		padding: rem(30) 0 rem(60);
	}

	&__slider {
		&.swiper.can-scroll {
			&::before {
				color: $accent;
			}
		}
	}
	// .benefits__card
	&__card {
		border-radius: 0.9375rem;
		border: rem(1) solid rgba(255, 255, 255, 0.03);
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
		min-height: 30.625rem;
		@media (min-width: $md4) {
			min-height: rem(550);
		}
		&.swiper-slide {
			width: 19.6875rem;
			@media (min-width: $md2) {
				width: 100%;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.4;
		}
		& picture {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			& img,
			source {
				flex: 1 1 auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .benefits__card-content
	&__card-content {
		padding: 1.875rem 0.9375rem 1.25rem 0.9375rem;
		@media (min-width: $md4) {
			padding: 1.875rem 1.25rem;
		}
	}
	// .benefits__card-title
	&__card-title {
		line-height: 140%;
	}
	// .benefits__card-desc
	&__card-desc {
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.0625rem;
		}
	}
	// .benefits__card-btn
	&__card-btn {
		margin-top: rem(30);
	}
}

.halls {
	position: relative;
	z-index: 1;

	background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);

	margin: 0 auto;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/halls-mask.svg") center / auto 100% no-repeat;
		pointer-events: none;
		z-index: 2;
	}
	padding: rem(60) 0 rem(90);
	@media (min-width: $md5) {
		min-height: rem(942);
		padding: rem(120) 0 rem(90);
	}
	@media (min-width: 1920px) {
		max-width: rem(3154);
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:
				linear-gradient(90deg, #edecec 0%, #edecec calc((100% - 2900px) / 2), transparent calc((100% - 2900px) / 2)),
				linear-gradient(270deg, #edecec 0%, #edecec calc((100% - 2900px) / 2), transparent calc((100% - 2900px) / 2));
			pointer-events: none;
			z-index: 1;
		}
	}

	// .halls__container
	&__container {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/halls/05.jpg") center / cover no-repeat;
			opacity: 0.05;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: -1;
		}
	}
	// .halls__content
	&__content {
		position: relative;
		z-index: 3;
	}
	// .halls__header
	&__header {
	}
	// .halls__title
	&__title {
	}
	// .halls__features
	&__features {
		@media (min-width: $md3) {
			--bs-gutter-x: 0rem;
		}
		@media (min-width: $md2) {
			max-width: rem(690);
		}
	}
	// .halls__features-column
	&__features-column {
		@media (min-width: $md3) {
			padding: 0 rem(20);
		}
	}
	// .halls__features-image
	&__features-image {
	}
	// .halls__features-text
	&__features-text {
		line-height: 140%;
		font-size: 0.875rem;
		hyphens: auto;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: rem(18);
		}
	}
	// .halls__body
	&__body {
		gap: 1.25rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: rem(30);
		}
		@media (min-width: $md3) {
			margin-top: rem(60);
		}
	}
	// .halls__info
	&__info {
		@media (max-width: $md3) {
			display: contents;
		}
		@media (min-width: $md3) {
			padding: 0 rem(15);
			width: 16.25rem;
		}
	}
	// .halls__info-text
	&__info-text {
		gap: 1.25rem;
		line-height: 140%;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (max-width: $md3) {
			max-width: 75%;
		}
		& strong {
			line-height: 140%;
			font-size: 3.75rem;
			@media (min-width: $md5) {
				font-size: 4.6875rem;
			}
		}
	}
	// .halls__info-btn
	&__info-btn {
		@media (min-width: $md3) {
			margin-top: 1.25rem;
		}
	}
	// .halls__slider
	&__slider {
		min-width: 0;
		@media (max-width: $md3) {
			max-width: 100%;
			overflow: visible;
		}
		@media (min-width: $md3) {
			margin-right: calc(-1 * (100vw - 960px) / 2);
		}
		@media (min-width: $md2) {
			margin-right: calc(-1 * (100vw - 1140px) / 2);
		}
		@media (min-width: $md1) {
			margin-right: calc(-1 * (100vw - 1320px) / 2);
		}
		@media (min-width: $md0) {
			margin-right: calc(-1 * (100vw - 1464px) / 2);
		}
		&.can-scroll {
			&::before {
				color: #fff;
				@media (max-width: $md3) {
					position: absolute;
					bottom: calc(100% + 3.11rem);
					right: 0;
				}
				@media (min-width: $md2) {
					display: none;
				}
			}
		}
	}
	// .halls__slide
	&__slide {
		&.swiper-slide {
			height: auto;
			border-radius: 0.9375rem;
			background: #fff;
			box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
			width: 11.25rem;
			@media (min-width: $md5) {
				width: 21.5625rem;
			}
		}
	}
	// .halls__slide-image
	&__slide-image {
	}
	// .halls__slide-bottom
	&__slide-bottom {
		font-size: 0.6875rem;
		padding: 0.625rem 0;
		@media (min-width: $md5) {
			font-size: 1.25rem;
			padding: rem(20) 0 1.45rem;
		}
	}
	// .halls__bottom
	&__bottom {
		margin-top: 5rem;
		gap: 1.25rem;
	}
	// .halls__prev
	&__prev {
		@extend.halls__next;
	}
	// .halls__next
	&__next {
		color: #fff;
		border: rem(1) solid #fff;
		background: rgba(255, 255, 255, 0.05);
		@media (any-hover: hover) {
			&:hover {
				border-color: $accent;
				background-color: $accent;
				color: #fff;
			}
		}
	}
}

.features {
	padding: 1rem 0 2rem;
	@media (min-width: $md5) {
		padding: 3rem 0;
	}
	@media (min-width: $md3) {
		padding: 4rem 0;
	}
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	// .features__title
	&__title {
	}
	// .features__blocks
	&__blocks {
		margin-top: rem(20);
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
		@media (min-width: $md2) {
			margin-top: rem(60);
		}
	}
	// .features__block
	&__block {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (min-width: $md3) {
				margin-bottom: rem(60);
			}
		}
		.row {
			--bs-gutter-y: #{rem(20)};
			@media (min-width: $md2) {
				--bs-gutter-x: #{rem(80)};
			}
		}
	}
	// .features__image
	&__badge {
		color: #bc0482;
		line-height: 140%;
		box-shadow: 0 0 rem(7) 0 rgba(96, 0, 0, 0.2);
		width: fit-content;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
	// .features__image
	&__image {
		border-radius: rem(15);
		height: 12.50819rem;
		@media (min-width: $md5) {
			height: rem(451);
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #e42329;
			font-size: rem(40);
			@media (min-width: $md4) {
				font-size: rem(80);
			}
		}
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .features__caption
	&__caption {
		font-size: 1.25rem;
		margin-top: rem(24);
		@media (min-width: $md5) {
			margin-top: rem(30);
			font-size: 1.75rem;
		}
		@media (min-width: $md4) {
			font-size: 1.875rem;
		}
	}
	// .features__list
	&__list {
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(30);
		}
	}
	// .features__item
	&__item {
		gap: rem(10);
		@media (min-width: $md5) {
			gap: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .features__item-icon
	&__item-icon {
		background: linear-gradient(90deg, #e42329 -23.8%, #761a1b 122.53%);
		width: 1.875rem;
		height: 1.875rem;
		padding: 0.375rem;
		@media (min-width: $md5) {
			width: 3.75rem;
			height: 3.75rem;
		}
	}
	// .features__item-text
	&__item-text {
		line-height: 140%;
		color: rgba(34, 34, 34, 0.8);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
}

.start {
	position: relative;
	z-index: 1;
	background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
	min-height: rem(727);
	margin: 0 auto;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/start-mask.svg") center / auto 100% no-repeat;
		pointer-events: none;
		z-index: 2;
	}
	@media (min-width: 1920px) {
		max-width: rem(2271);
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:
				linear-gradient(90deg, #edecec 0%, #edecec calc((100% - 2100px) / 2), transparent calc((100% - 2100px) / 2)),
				linear-gradient(270deg, #edecec 0%, #edecec calc((100% - 2100px) / 2), transparent calc((100% - 2100px) / 2));
			pointer-events: none;
			z-index: 1;
		}
	}
	&__wrapper {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/school-mask-bottom.svg") center / auto 100% no-repeat;
			pointer-events: none;
			z-index: 10;
		}
	}
	// .start__container
	&__container {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/halls/05.jpg") center / cover no-repeat;
			z-index: -1;
			opacity: 0.2;
			@media (min-width: $md5) {
				opacity: 0.05;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: -1;
		}
	}
	// .start__content
	&__content {
		position: relative;
		z-index: 3;
		@media (max-width: $md4) {
			padding: rem(120) 0;
		}
		@media (max-width: $md5) {
			padding: rem(80) 0;
		}
	}
	// .start__main
	&__main {
		display: contents;
		@media (min-width: $md4) {
			position: relative;
			z-index: 10;
			display: block;
			padding: rem(120) 0 rem(70);
		}
		@media (min-width: $md0) {
			padding: rem(150) 0 rem(90);
		}
	}
	// .start__tagline
	&__tagline {
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .start__title
	&__title {
		font-size: 1.25rem;
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: rem(20);
			font-size: rem(24);
		}
		@media (min-width: $md4) {
			font-size: rem(36);
		}
		@media (min-width: $md2) {
			font-size: rem(40);
			margin-top: rem(30);
		}
		@media (min-width: $md0) {
			font-size: rem(45);
			margin-top: rem(40);
		}
	}
	// .start__actions
	&__actions {
		gap: rem(10);
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
		@media (min-width: $md0) {
			margin-top: 5rem;
		}
	}
	// .start__image
	&__image {
		@media (max-width: $md5) {
			max-width: 67%;
			margin: 0 auto;
		}
		@media (min-width: $md4) {
			align-self: flex-end;
			flex: 0 0 rem(460);
		}
		@media (min-width: $md2) {
			margin-top: -4.7rem;
			margin-right: -3rem;
			flex: 0 0 rem(520);
		}
		@media (min-width: $md0) {
			flex: 0 0 rem(556);
			margin-bottom: -4rem;
		}
	}
}

.prices {
	position: relative;
	z-index: 2;
	background: #edecec;
	padding: rem(20) 0 rem(30);
	@media (min-width: $md2) {
		padding: rem(20) 0 rem(90);
	}
	// .prices__title
	&__title {
	}
	// .prices__subtitle
	&__subtitle {
		margin-top: rem(20);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .prices__types
	&__types {
		margin-top: rem(15);
		gap: rem(10);
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			gap: 1rem;
		}
	}
	// .prices__type
	&__type {
		padding: rem(10);
		border-radius: 3.125rem;
		background: #fff;
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
		padding: 0.625rem 0.9375rem;
		gap: rem(15);
		color: rgba(34, 34, 34, 0.8);
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
	// .prices__type-icon
	&__type-icon {
		width: 1.875rem;
		height: 1.875rem;
		@media (min-width: $md5) {
			width: 3.75rem;
			height: 3.75rem;
		}
	}
	// .prices__content
	&__content {
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
		.row {
			--bs-gutter-y: 0.625rem;
			@media (min-width: $md5) {
				--bs-gutter-x: #{rem(20)};
				--bs-gutter-y: #{rem(20)};
			}
		}
	}
	// .prices__bottom
	&__bottom {
		margin-top: 1.5rem;
		gap: rem(15);
		@media (min-width: $md5) {
			margin-top: 2.75rem;
		}
		@media (min-width: $md3) {
			gap: 2.5rem;
		}
	}
	// .prices__bottom-icon
	&__bottom-icon {
		line-height: 140%;
		width: 1.875rem;
		@media (min-width: $md5) {
			width: 3.75rem;
		}
	}
	// .prices__bottom-text
	&__bottom-text {
		font-size: 0.875rem;
		line-height: 140%;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
}

.prices-card {
	position: relative;
	padding: 1.25rem rem(20) 1.25rem;
	border-radius: rem(15);

	box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
	background:
		linear-gradient(180deg, rgba(16, 3, 3, 0.8) 0%, rgba(118, 22, 22, 0.8) 100%),
		url("@img/halls/02.jpg") 0 0 / cover no-repeat;
	@media (min-width: $md5) {
		padding: rem(35) rem(20) rem(30);
	}
	@media (min-width: $md3) {
		min-height: rem(295);
	}
	// .prices-card__name
	&__name {
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .prices-card__time
	&__time {
		line-height: 150%;
		font-size: 0.875rem;
		margin-top: 0.125rem;
		@media (min-width: $md5) {
			margin-top: 0.5rem;
			padding-left: 0.25rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .prices-card__price
	&__price {
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			margin-top: 1rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md3) {
			margin-top: 1.53rem;
			font-size: 1.875rem;
		}
	}
	// .prices-card__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: rem(10);
		@media (min-width: $md3) {
			display: contents;
		}
	}
	// .prices-card__bottom
	&__bottom {
		.btn {
			@media (max-width: $md5) {
				--bs-btn-font-size: 0.6875rem;
				--bs-btn-padding-x: 1.5625rem;
				--bs-btn-padding-y: 0.9375rem;
			}
		}
	}
	// .prices-card__logo
	&__logo {
		max-width: 7.75rem;
	}
}

.teachers {
	padding: 2rem 0;
	@media (min-width: $md5) {
		padding: 3rem 0;
	}
	@media (min-width: $md3) {
		padding: 4rem 0;
	}
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	// .teachers__title
	&__title {
	}
	// .teachers__desc
	&__desc {
		margin-top: rem(20);
		line-height: 140%;
		max-width: rem(1160);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5625rem;
		}
	}
	// .teachers__slider
	&__slider {
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		@media (min-width: $md3) {
			margin-top: 2.5rem;
		}
		&.can-scroll {
			@media (min-width: $md4) {
				&::before {
					display: none;
				}
			}
		}
	}
	// .teachers__controls
	&__controls {
		gap: rem(20);
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(40);
		}
	}
	// .teachers__btns
	&__btns {
		gap: rem(20);
	}
	// .teachers__prev
	&__prev {
	}
	// .teachers__next
	&__next {
	}
}

.teacher {
	border-radius: 0.9375rem;
	background: linear-gradient(180deg, #100303 0%, #761616 100%);
	&:hover {
		.teacher__image-static {
			opacity: 0;
		}
		.teacher__image-hover {
			opacity: 1;
		}
		.teacher__expirience,
		.teacher__skill {
			background: #bc0482;
			color: #fff;
		}
	}
	height: auto;
	@media (min-width: $md3) {
		height: rem(560);
	}
	// .teacher__image
	&__image {
		border-radius: 0.9375rem;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.47%, rgba(0, 0, 0, 0.5) 100%);
			z-index: 1;
		}
	}
	// .teacher__image-static
	&__image-static {
		transition: opacity 0.3s ease;
	}
	// .teacher__image-hover
	&__image-hover {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	// .teacher__content
	&__content {
		padding: rem(40) rem(25) 1.25rem;
		@media (min-width: $md5) {
			padding: rem(40) rem(35);
		}
	}
	// .teacher__name
	&__name {
		font-size: 1.25rem;
		@media (min-width: $md3) {
			font-size: 1.875rem;
		}
	}
	// .teacher__surname
	&__surname {
		font-size: 0.9375rem;
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
	}
	// .teacher__skills
	&__skills {
		margin-top: 1.25rem;
		gap: rem(10);
	}
	// .teacher__skill
	&__skill {
		padding: rem(8) rem(14);
		border-radius: 0.1875rem;
		line-height: 140%;
		background: #fff;
		color: $accent;
		transition: all 0.3s ease;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
	// .teacher__expirience
	&__expirience {
		top: rem(-1);
		right: rem(-1);
		z-index: 10;
		line-height: 140%;
		padding: 0.43669rem 0.87331rem;
		box-shadow: 0 0 rem(7) 0 rgba(96, 0, 0, 0.2);
		border-radius: 0 0.9375rem 0 0;
		background: #fff;
		color: $accent;
		transition: all 0.3s ease;
		font-size: 0.6875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
}

.reviews {
	padding: 2.5rem 0 2rem;
	@media (min-width: $md3) {
		padding: 4rem 0;
	}
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__body
	&__body {
		margin-top: rem(20);
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
			margin-top: rem(40);
		}
	}
	// .reviews__content
	&__content {
		@media (max-width: $md3) {
			display: contents;
		}
		@media (min-width: $md3) {
			line-height: 150%;
			padding: 0 rem(20);
			font-size: rem(20);
			flex: 0 0 rem(410);
		}
		@media (min-width: $md2) {
			font-size: rem(22);
		}
		@media (min-width: $md1) {
			font-size: rem(25);
		}
	}
	// .reviews__bottom
	&__bottom {
		margin-top: rem(20);
		@media (min-width: $md3) {
			margin-top: rem(57);
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			background: url("@img/icons/stars.png") center / cover no-repeat;
			width: 1.875rem;
			height: 1.875rem;
			@media (min-width: $md3) {
				width: 3.5rem;
				height: 3.5rem;
				top: -2.5rem;
			}
		}
		&::after {
			content: "";
			position: absolute;
			right: 0;
			width: 1.875rem;
			height: 1.875rem;
			background: url("@img/icons/stars.png") center / cover no-repeat;
			@media (min-width: $md3) {
				width: 3.5rem;
				height: 3.5rem;
				top: -2.5rem;
			}
		}
	}
	// .reviews__btn
	&__btn {
		width: 100%;
		max-width: calc(100% - 6rem);
		@media (min-width: $md3) {
			max-width: 100%;
			width: auto;
		}
	}
	// .reviews__slider
	&__slider {
		max-width: 100%;
		@media (max-width: $md3) {
			margin-top: rem(20);
		}
	}
	// .reviews__slide
	&__slide {
		position: relative;
		overflow: hidden;
		border-radius: 0.48863rem;
		@media (min-width: $md5) {
			border-radius: rem(15);
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #e42329;
			font-size: rem(40);
			@media (min-width: $md4) {
				font-size: rem(80);
			}
		}
		& picture {
			width: 100%;
			height: 100%;
			display: block;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.faq {
	padding: 2rem 0;
	@media (min-width: $md5) {
		padding: 2.5rem 0;
	}
	@media (min-width: $md3) {
		padding: 4rem 0;
	}
	@media (min-width: $md2) {
		padding: 5rem 0;
	}
	// .faq__title
	&__title {
	}
	// .faq__list
	&__list {
		margin-top: rem(20);
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
		@media (min-width: $md2) {
			padding: 0 rem(20);
		}
	}
	// .faq__item
	&__item {
		counter-increment: num;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .faq__item-question
	&__item-question {
		padding: rem(15) rem(20) rem(15) rem(25);
		cursor: pointer;

		border: 1px solid rgba(255, 255, 255, 0.03);
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
		&::before {
			content: counter(num) ".";
			margin-right: 0.375rem;
			align-self: flex-start;
			margin-top: 0.125rem;
		}
		&::after {
			content: "\e901";
			@extend %ic;
			border: rem(1) solid;
			width: rem(37);
			height: rem(37);
			font-size: 0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			color: $accent;
			margin-left: auto;
			transition:
				transform 0.3s ease,
				background-color 0.3s ease,
				color 0.3s ease;
			border-radius: 50%;
		}
		&.active {
			&::after {
				transform: rotate(180deg);
				padding-top: 0.25rem;
			}
		}
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: rem(20);
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					background-color: $accent;
					color: #fff;
				}
			}
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		padding: 1.5rem 0;
		@media (min-width: $md5) {
			padding: 2.5rem 4.37rem 2.25rem;
		}
	}
	// .faq__actions
	&__actions {
		gap: rem(10);
		margin-top: rem(20);
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
	}
}
