@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?64793n');
  src:  url('fonts/icons.eot?64793n#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?64793n') format('truetype'),
    url('fonts/icons.woff?64793n') format('woff'),
    url('fonts/icons.svg?64793n#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-arrow-circle:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-prev:before {
  content: "\e907";
}
.icon-telegram:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-vk-square:before {
  content: "\e90a";
}
