<div class="col-3">
    <div class="benefits__card d-flex flex-column h-100 position-relative overflow-hidden text-white">
        <img src="@@image" class="img-fluid object-fit-cover w-100 h-100" alt="Фото преподавателя">
        <div class="benefits__card-content position-absolute top-0 bottom-0 start-0 end-0 d-flex flex-column text-center z-1 d-flex flex-column align-items-center">
            <div class="benefits__card-title font-try fw-semibold">@@title</div>
            <div class="benefits__card-desc mt-auto">@@desc</div>
            <a href="" class="benefits__card-btn btn btn-white">@@btnText</a>
        </div>
    </div>
</div>