<div class="col-xl-3">
    <a href="" class="directions__card text-white bg-red text-center d-flex flex-column h-100 position-relative overflow-hidden">
        <span class="directions__card-image">
            <img src="@@image" class="img-fluid object-fit-cover w-100 h-100" alt="Фото направления">
        </span>
        <span class="directions__card-content overflow-hidden d-flex flex-column z-2 justify-content-end position-absolute bottom-0 top-0 start-0 end-0">
            <span class="directions__card-title font-druk fs-4">@@title</span>
            <span class="directions__card-desc">
                <span>@@desc</span>
            </span>
        </span>
    </a>
</div>