<a href="" class="directions__card directions__slide text-white bg-red text-center d-flex flex-column position-relative overflow-hidden swiper-slide">
    <span class="directions__card-image flex-grow-1">
        <img src="@@image" class="img-fluid object-fit-cover w-100 h-100" alt="Фото направления">
    </span>
    <span class="directions__card-content overflow-hidden d-flex flex-column z-2 justify-content-end position-absolute bottom-0 top-0 start-0 end-0">
        <span class="directions__card-title font-druk">@@title</span>
        <span class="directions__card-desc">
            <span>@@desc</span>
        </span>
    </span>
</a>