<div class="col-xl-4 col-md-6">
    <a href="" class="prices-card d-flex flex-column bg-red h-100 text-white">
        <span class="prices-card__name font-try fw-bold lh-base">@@name</span>
        <span class="prices-card__time fw-medium">@@time</span>
        <span class="prices-card__price text-xl-end font-try lh-base fw-bold my-auto">@@price</span>
        <span class="prices-card__bottom d-flex justify-content-between align-items-end">
            <span class="prices-card__logo d-lg-block d-none">
                <img src="@img/logo-white.svg" alt="Логотип">
            </span>
            <span class="btn btn-white">@@btnText</span>
        </span>
    </a>
</div>