<tr class="schedule__row">
    <td class="schedule__td schedule__td--time-day">
        <div class="schedule__time-day position-relative">
            <div class="schedule__time d-inline-flex align-items-center">
                <img src="@img/icons/clock.svg" width="25" height="25" class="schedule__time-icon flex-shrink-0" alt="">
                <span class="schedule__time-text fw-bold">@@time</span>
            </div>
            <div class="schedule__day color-accent d-inline-flex align-items-center fw-medium">@@day</div>
        </div>
    </td>
    <td class="schedule__td schedule__td--hall fw-medium lh-sm opacity-75">@@hall</td>
    <td class="schedule__td schedule__td--teacher">
        <div class="schedule__teacher d-flex align-items-center">
            <img src="@@teacherImage" width="37" height="37" class="schedule__teacher-avatar rounded-circle flex-shrink-0 object-fit-cover" alt="@@teacher">
            <a href="@@teacherLink" class="schedule__teacher-name color-accent fw-medium text-decoration-none">@@teacher</a>
            <img src="@img/icons/external-link.svg" width="24" height="24" class="schedule__teacher-link-icon flex-shrink-0" alt="">
        </div>
    </td>
    <td class="schedule__td schedule__td--action">
        <a href="@@signUpLink" class="schedule__sign-up color-accent fw-medium text-decoration-none">Записаться →</a>
    </td>
</tr>
