<div class="col-lg-6">
    <div class="schedule-teacher d-flex bg-white overflow-hidden h-100">
        <div class="schedule-teacher__image flex-shrink-0 overflow-hidden">
            <img src="@@image" class="schedule-teacher__photo object-fit-cover w-100 h-100" alt="@@name">
        </div>
        <div class="schedule-teacher__content d-flex flex-column justify-content-between flex-grow-1">
            <div class="schedule-teacher__info">
                <div class="schedule-teacher__name fw-bold">@@name</div>
                <div class="schedule-teacher__desc">@@description</div>
            </div>
            <a href="@@link" class="schedule-teacher__link color-accent d-inline-flex align-items-center fw-medium">
                На страницу преподавателя
                <img src="@img/icons/external-link.svg" width="24" height="24" class="flex-shrink-0" alt="">
            </a>
        </div>
    </div>
</div>
