<tr class="schedule__row">
    <td class="schedule__td schedule__td--time-day">
        <div class="schedule__time-day position-relative d-xl-block d-flex flex-column">
            <div class="schedule__time d-inline-flex align-items-center icon-clock fw-bold">
                @@time
            </div>
            <div class="schedule__day color-accent d-inline-flex align-items-center fw-medium">@@day</div>
        </div>
    </td>
    <td class="schedule__td schedule__td--hall fw-medium lh-sm opacity-75">@@hall</td>
    @@if(typeof level !== 'undefined') {
    <td class="schedule__td schedule__td--level fw-medium lh-sm opacity-75">@@level</td>
    }
    <td class="schedule__td schedule__td--teacher">
        <div class="schedule__teacher d-flex align-items-center">
            <div class="schedule__teacher-avatar flex-shrink-0 rounded-circle overflow-hidden">
                <img src="@@teacherImage" width="37" height="37" class="cover-image" alt="@@teacher">
            </div>
            <a href="@@teacherLink" class="schedule__teacher-name d-inline-flex align-items-center gap-sm-2 gap-1 flex-row-reverse color-accent fw-medium text-decoration-none icon-external-link">@@teacher</a>
        </div>
    </td>
    <td class="schedule__td schedule__td--action">
        <a href="@@signUpLink" class="schedule__sign-up color-accent fw-medium text-decoration-none  ms-lg-0 ms-auto">Записаться →</a>
    </td>
</tr>