.footer {
	// .footer__body
	&__body {
		padding: rem(90) 0;
		background: linear-gradient(90deg, #761a1b 0%, #8c1b1d 50%, #761a1b 100%);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("@img/halls/01.jpg") 0 0 / cover no-repeat;
			z-index: -1;
			opacity: 0.05;
		}
	}
	// .footer__content
	&__content {
		gap: rem(35);
	}
	// .footer__logo
	&__logo {
		max-width: rem(633);
	}
	// .footer__menu
	&__menu {
		font-size: rem(18);
		--bs-border-color: #fff;
	}
	// .footer__menu-list
	&__menu-list {
		gap: rem(20);
	}
	// .footer__menu-item
	&__menu-item {
		&:not(:last-child) {
			padding-right: rem(20);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				background: #fff;
				width: 0.0625rem;
				height: 1.25rem;
			}
		}
	}
	// .footer__menu-link
	&__menu-link {
	}
	// .footer__phone
	&__phone {
		font-size: 1.5625rem;
		line-height: 140%;
		letter-spacing: 0.0625rem;
		gap: rem(10);
		&::before {
			flex-shrink: 0;
			width: 1.4375rem;
			height: 1.4375rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .footer__socials
	&__socials {
		gap: rem(20);
		font-size: rem(30);
	}
	// .footer__social
	&__social {
		transition: opacity 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.875;
			}
		}
	}
	// .footer__mail
	&__mail {
		@extend .footer__address;
		transition: opacity 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.875;
			}
		}
	}
	// .footer__address
	&__address {
		gap: rem(10);
		line-height: 140%;
		letter-spacing: 0.05rem;
		&::before {
			flex-shrink: 0;
			width: 1.4375rem;
			height: 1.4375rem;
			font-size: 1.4375rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .footer__bottom
	&__bottom {
		padding: rem(30) 0;
		background: #222;
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__rate
	&__rate {
	}
}
