.form-check-label {
	font-size: rem(18);
}

.form-checkboxes {
	gap: rem(34);
}

.form-check {
	display: inline-flex;
	align-items: center;
	gap: rem(10);
	&-input {
		width: 1.0625rem;
		height: 1.0625rem;
		border: rem(2) solid #bfbfbf;
		&:checked {
			background-color: #bc0482;
			border-color: #bc0482;
		}
		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(34, 34, 34, 0.3);
		}
	}
}

.form-control {
	padding: em(1.05, 1.125) em(1.875, 1.125);
	letter-spacing: em(0.03375, 1.125);
	font-weight: 400;
	color: #131313;
	background-color: #f0f0f0;
	--bs-border-width: #{rem(1)};
	--bs-border-color: rgba(34, 34, 34, 0.3);
	--bs-border-radius: #{em(0.5625, 1.125)};
	font-size: 1rem;
	@media (min-width: $md2) {
		font-size: 1.125rem;
	}
	&:focus {
		color: #131313;
		background-color: #f0f0f0;
		border-color: #bc0482;
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgba(188, 4, 130, 0.25);
	}
	&::placeholder {
		opacity: 0.5;
	}
}

.form-policy {
	font-size: 0.875rem;
	line-height: 140%;
	// .form-policy__link
	&__link {
	}
}

.btn {
	--bs-btn-font-family: #{$fontfamily};

	--bs-btn-font-weight: 500;
	--bs-btn-line-height: 1.4;
	--bs-btn-border-width: #{rem(1)};
	--bs-btn-border-radius: 0.3125rem;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
	text-align: center;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: rem(10);
	--bs-btn-font-size: 1rem;
	--bs-btn-padding-x: #{rem(23)};
	--bs-btn-padding-y: #{rem(14)};
	@media (min-width: $md4) {
		--bs-btn-padding-y: #{rem(18)};
		--bs-btn-font-size: 1.125rem;
	}
	&.btn-primary {
		--bs-btn-color: #fff;
		--bs-btn-bg: #bc0482;
		--bs-btn-border-color: #bc0482;
		--bs-btn-hover-color: #bc0482;
		--bs-btn-hover-bg: #fff;
		--bs-btn-hover-border-color: #bc0482;
		--bs-btn-focus-shadow-rgb: 188, 4, 130;
		--bs-btn-active-color: #bc0482;
		--bs-btn-active-bg: #fff;
		--bs-btn-active-border-color: #bc0482;
	}
	&.btn-outline-primary {
		--bs-btn-color: #bc0482;
		--bs-btn-border-color: #bc0482;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #bc0482;
		--bs-btn-hover-border-color: #bc0482;
		--bs-btn-focus-shadow-rgb: 188, 4, 130;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #bc0482;
		--bs-btn-active-border-color: #bc0482;
	}
	&.btn-white {
		--bs-btn-color: #fff;
		--bs-btn-border-color: #fff;
		--bs-btn-bg: rgba(255, 255, 255, 0.05);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #bc0482;
		--bs-btn-hover-border-color: #bc0482;
		--bs-btn-focus-shadow-rgb: 188, 4, 130;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #bc0482;
		--bs-btn-active-border-color: #bc0482;
	}
}
