.header {
	background: #761a1b;
	color: #fff;
	@media (min-width: $md4) {
		background: #fff;
		color: #222;
	}
	// .header__top
	&__top {
		gap: rem(12);
		@media (max-width: $md4) {
			padding: 0.25rem 3rem 1.25rem;
		}
		@media (min-width: $md3) {
			gap: rem(30);
			color: $accent;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
				height: 100%;
				pointer-events: none;
				border-bottom: rem(1) solid rgba(34, 34, 34, 0.1);
			}
		}
	}
	// .header__location
	&__location {
		&::before {
			flex-shrink: 0;
			font-size: rem(18);
			@media (min-width: $md5) {
				font-size: rem(23);
			}
		}
		transition: color 0.3s ease;
		font-size: rem(11);
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 10);
			}
		}
	}
	// .header__phone
	&__phone {
		line-height: 140%;
		transition: color 0.3s ease;
		font-size: 1.25rem;
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
		@media (min-width: $md2) {
			font-size: 1.5625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 10);
			}
		}
	}
	// .header__social
	&__social {
		transition: color 0.3s ease;
		font-size: 1.75rem;
		@media (max-width: $md4) {
			position: absolute;
			left: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
			width: rem(30);
			height: rem(30);
		}
		@media (min-width: $md2) {
			font-size: 2.1875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 10);
			}
		}
	}
	// .header__body
	&__body {
		@media (max-width: $md4) {
			padding: rem(30) 0.5rem 0.625rem;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 11;
		max-width: 6.25rem;
		@media (min-width: $md4) {
			max-width: 14rem;
		}
		@media (min-width: $md1) {
			max-width: 17.271rem;
		}
	}
}

.menu {
	@media (max-width: $md4) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(52.59% 73.17% at 49.37% 43.69%, #e42329 0%, #761a1b 100%);
		z-index: 10;
		overflow-x: hidden;
		overflow-y: auto;
		transition: transform 0.3s ease;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		padding: 6rem 1rem 1rem;
		.header.open-menu & {
			transform: none;
			opacity: 1;
			visibility: visible;
		}
	}
	// .menu__list
	&__list {
		row-gap: rem(10);
		line-height: 140%;
		column-gap: rem(30);
		@media (min-width: $md1) {
			column-gap: rem(40);
			font-size: rem(18);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: rem(45);
	height: rem(45);
	padding: 0 0.25rem;
	margin-left: auto;
	color: #fff;
	z-index: 11;
	transition: all 0.3s ease;

	@media (min-width: $md4) {
		display: none;
	}
	& span {
		display: block;
		align-self: stretch;
		transition:
			transform 0.4s ease 0.4s,
			opacity 0.4s ease 0.4s;
		will-change: transform;
		padding: rem(5) rem(0);
		&::before {
			content: "";
			display: block;
			height: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
			margin: auto;
		}
	}
	&.active {
		background: transparent;

		& span {
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;
			&::before {
				transition:
					transform 0.45s ease 0.35s,
					width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(12));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-12));
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
