%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-swipe-indicator:before {
	content: "\e90b";
}
.icon-arrow-bottom:before {
	content: "\e900";
}
.icon-chevron-down:before {
	content: "\e901";
}
.icon-location:before {
	content: "\e902";
}
.icon-mail:before {
	content: "\e903";
}
.icon-next:before {
	content: "\e904";
}
.icon-phone:before {
	content: "\e905";
}
.icon-play:before {
	content: "\e906";
}
.icon-prev:before {
	content: "\e907";
}
.icon-telegram:before {
	content: "\e908";
}
.icon-vk:before {
	content: "\e909";
}
.icon-vk-square:before {
	content: "\e90a";
}
