// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset";

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Roboto";
$font-try: "TRYGrtsk";
$font-druk: "druktextwidecyr";
$font-lt: "LTSuperior";
// Шрифт по умолчанию

$md0: 1488px;
$md1: 1400px;
$md2: 1200px;
$md3: 992px;
$md4: 768px;
$md5: 576px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1272); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$accent: #bc0482;
$text: #000;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================
