.bg-red {
	background: #761a1b;
}

.fs-title {
	font-size: rem(42);
	@media (min-width: $md1) {
		font-size: rem(48);
	}
	@media (min-width: $md0) {
		font-size: rem(50);
	}
}

.font-try {
	font-family: $font-try;
}

.font-druk {
	font-family: $font-druk;
}

.font-lt-superior {
	font-family: $font-lt;
}

.color-accent {
	color: $accent;
}

.bg-black {
	background: #222222;
}

.card {
	border-radius: 0.9375rem;
	padding: 1.25rem;
	box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.08);
	// .card__icon
	&__icon {
		width: 3.75rem;
		height: 3.75rem;
		background: linear-gradient(90deg, #e42329 -23.8%, #761a1b 122.53%);
	}
	// .card__content
	&__content {
	}
	// .card__content-text
	&__content-text {
		font-size: 1.375rem;
	}
	// .card__content-desc
	&__content-desc {
		border-top: rem(1) solid rgba(34, 34, 34, 0.1);
		margin-top: 0.44rem;
		padding-top: 0.44rem;
		color: rgba(34, 34, 34, 0.8);
		font-size: 1.0625rem;
		line-height: 140%;
	}
}

.swiper-button-next,
.swiper-button-prev {
	position: static;
	z-index: 1;
	transform: none;
	margin: 0;
	width: rem(65);
	height: rem(65);
	font-size: 1.25rem;
	border: rem(1) solid $accent;
	border-radius: 0.5rem;
	color: $accent;
	transition: all 0.3s ease;
	& svg {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			background: $accent;
			color: #fff;
		}
	}
}

.swiper-pagination {
	&.swiper-pagination-lock {
		display: none !important;
	}
	&.swiper-pagination-bullets {
		position: static;
		bottom: auto;
		left: auto;
		transform: none;
		width: 100%;
		display: flex;
		justify-content: center;
		--swiper-pagination-bullet-horizontal-gap: #{rem(10)};
		--swiper-pagination-bullet-size: #{rem(10)};
		--swiper-pagination-bullet-inactive-opacity: 0.4;
		&.swiper-pagination-bullets-dynamic {
			transform: none;
			margin-inline: auto;
			display: block;
			width: 100%;
		}
		.swiper-pagination-bullet {
			background: currentColor;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: rem(24);
				height: rem(24);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}
	&.swiper-pagination-fraction {
		position: static;
		width: auto;
		font-size: 1.25rem;
		line-height: 150%;
	}
}

.typography-block {
	font-size: 1.0625rem;
	line-height: 1.4;

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;

		@media screen and (max-width: $md4) {
			line-height: 1.5;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: 2.4rem;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1.25;
	}

	h2 {
		margin: 2.5rem 0 1.25rem;
		font-size: 2.25rem;
		line-height: 116.667%;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		font-size: 1.75rem;
		margin: 2rem 0 1rem;
		line-height: 128.571%;
		&:first-child {
			margin-top: 0;
		}
	}

	h4 {
		font-size: 1.5rem;
		line-height: 1.45;
		margin: 2rem 0 1rem;
		&:first-child {
			margin-top: 0;
		}
	}

	p {
		a {
			color: #1570ef;
		}
		margin-bottom: 1.25rem;
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol {
		margin: 0 0 1.5rem;
		padding-left: 0;
		@media screen and (max-width: $md4) {
			margin-bottom: 1.2em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 1.75rem;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0.5em;
			}
		}
	}

	ul li::before {
		width: 4px;
		height: 4px;
		top: 0.7em;
		background: currentColor;
		border-radius: 50%;
	}

	ol {
		counter-reset: i;

		li::before {
			counter-increment: i;
			content: counter(i) ".";
			top: 0;
		}
	}

	a {
		&:not(.article__more) {
			color: #1570ef;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	& cite,
	& blockquote {
		margin: 1.5rem 0 2rem;
		padding: 1.125rem;
		border-radius: 0.5rem;
		background: #f5f5f5;
		color: #181d27;
		font-weight: 600;
		line-height: 155.556%;
		display: block;
		font-size: 1.125rem;
		padding-left: rem(42);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 1.125rem;
			left: rem(18);
			bottom: 1.125rem;
			width: rem(4);
			background: #ff4405;
		}
	}

	& figure {
		margin: 3rem 0 2rem;
		& figcaption {
			margin-top: 1rem;
			margin-bottom: 0;
			color: #414651;
			font-size: 0.875rem;
			line-height: 142.857%;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $scrollbarColor, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
